@using System.Collections.Generic
@inject KatyLibrary.Models.LibraryContext db
@{
    IEnumerable<Genre> gen = db.Genres.ToList();
}
@foreach (var genre in gen)
{
    <a class="dropdown-item" asp-controller="GenreFilter" asp-action="Index" asp-route-genre="@genre.GenreId">@genre.Name</a>
}