@using Microsoft.AspNetCore.Identity
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@model IEnumerable<IdentityUser>
@{
    ViewBag.Title = "Список пользователей";
}

<a class="btn btn-success" asp-controller="AdminUsers" asp-action="Create">Добавить пользователя</a>

<table class="table">
    <tr><th>Email</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-controller="AdminUsers" asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-controller="AdminUsers" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="btn btn-sm btn-primary" asp-controller="AdminUsers" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
