@{
    Layout = null;
}
@model KatyLibrary.ViewModels.LoginViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход - KatyLibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body class="text-center bg-dark text-white">
    <form class="form-signin" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <img class="mb-4" src="~/images/Book_Icon.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <label for="inputEmail" class="sr-only" asp-for="Email">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" asp-for="Email" required="" autofocus="">
        <span asp-validation-for="Email" class="text-danger"></span>
        <label for="inputPassword" class="sr-only" asp-for="Password">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" asp-for="Password" required="">
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="checkbox mb-3">
            <label asp-for="RememberMe">
                <input type="checkbox" value="remember-me" asp-for="RememberMe">
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <div class="form-group">
            @*<p>
                <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
            </p>*@
            <p>
                <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
            </p>
        </div>
    </form>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>